.idea
__pycache__

Segmentation/.ipynb_checkpoints
Segmentation/checkpoint-2500
Segmentation/checkpoint-4000
Segmentation/data
Segmentation/data_raw
Segmentation/RuTweetCorp
Segmentation/sentence_ru_cased_L-12_H-768_A-12_pt
Segmentation/TlkPersonaChatRus
Segmentation/tmp
Segmentation/wandb
Segmentation/tmp_test.py
Segmentation/Test.ipynb
Segmentation/OpenSubtitles
Segmentation/prepare_dataset/extract_texts_from_open_subtitles.py

PunctRestoration/.idea
PunctRestoration/checkpoint-2000
PunctRestoration/data
PunctRestoration/data_raw
PunctRestoration/tmp
PunctRestoration/wandb
PunctRestoration/lenta.tar.bz2
PunctRestoration/tmp_test
